<%- include("./includes/head.ejs") %>

<div class="centered">
<h1>Es konnte keine Umfrage "<em><%= surveyName %></em>" gefunden werden!</h1>
<h3>Bitte wenden sich an den Administrator oder erfragen Sie den Link erneut.</h3>
</div>

<%- include("./includes/end.ejs") %>
