<%- include("./includes/head.ejs") %>

<div class="centered">
<h1>Ein interner Fehler ist aufgetreten!</h1>
<h3>Bitte versuchen Sie es später noch einmal oder kontaktieren Sie einen Admin.</h3>
</div>

<%- include("./includes/end.ejs") %>
