body {
    min-width: 230px;
    max-width: 550px;
    margin: auto;
}
.centered {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: center;
}
.centered.borderless {
    border: None;
    box-shadow: None;
}
.hidden {
    display: none;
}
input[type="text"] {
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 10px);
    height: 1rem;
    padding: 1rem 5px;
}
input[type="checkbox"] {
    margin-left: 10px;
}
input[type="password"] {
    width: calc(100% - 25px);
}
label {
    margin-left: 10px;
}
label.hidden {
    display: none;
}
.theme-wrapper {
    display: inline-block;
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px;
}
div.intro {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
div.plus {
    position: absolute;
    left: calc(50% - 20px);
    z-index: 90;
    margin: -25px 0 0 0;
    padding: 0;
    display: inline-block;
}
div.minus {
    position: absolute;
    left: calc(50% - 20px);
    z-index: 90;
    margin: -25px 0 0 0;
    padding: 0;
    display: inline-block;
}
div.plus:hover {
    cursor: pointer;
}
div.minus:hover {
    cursor: pointer;
}
.page-wrapper.hidden {
    display: none;
}
.material-symbols-outlined {
    vertical-align: text-bottom;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}
.material-symbols-outlined.plus {
    background-color: #48c537;
    color: white;
    border-radius: 100%;
}
.material-symbols-outlined.minus {
    background-color: #fa3e00;
    color: white;
    border-radius: 100%;
}
.material-symbols-outlined.plus.inline,
.material-symbols-outlined.minus.inline {
    font-size: 0.9rem;
}
.button {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1.1rem 2rem;
    color: white;
    background-color: #949494;
}
.button:hover {
    cursor: pointer;
    background-color: var(--color-link);
}
button.disabled {
    color: whitesmoke;
    background-color: #b6b6b6;
}
button.disabled:hover {
    cursor: not-allowed;
    background-color: #b6b6b6;
}
div.buttons {
    margin-top: 1rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.progress-wrapper {
    min-width: 200px;
    width: 515px;
    max-width: 90%;
    display: block;
    padding: 20px 0 30px 0;
    margin: 0 0 1.1rem 0;
    font-size: 0.6rem;
    position: fixed;
    top: 0;
    z-index: 98;
    background-color: white;
}
.progress-start {
    width: 23%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #cccccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.progress-start.filled {
    background-color: #48c537;
}
.progress-middle {
    width: 23%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #cccccc;
}
.progress-middle.filled {
    background-color: #48c537;
}
.progress-end {
    width: 23%;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #cccccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.progress-end.filled {
    background-color: #48c537;
}
.sticky {
    position: fixed;
    top: 0;
    /* width: 100% */
}
.logo-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.logo {
    display: inline-block;
    width: 30%;
}
.banner-text {
    display: inline-block;
    text-align: right;
}
.banner-text > p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}
.expand {
    display: block;
    margin: 1.5rem auto 0 auto;
    font-weight: bold;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    padding: 5px 10px 5px 5px;
    color: #7a7a7a;
    min-width: 350px;
}
.expand:hover {
    cursor: pointer;
}
.more {
    font-weight: normal;
    padding-left: 10px;
    padding-top: 1rem;
    font-size: 0.9rem;
}
.more.hidden {
    display: none;
}
@media only screen and (max-width: 300px) {
    body {
        min-width: 200px;
    }
}
@media only screen and (min-width: 960px) {
    body {
        min-width: 960px;
    }
    div.plus, div.minus {
        margin: -25px 0 0 0;
        left: calc(50% - 54px);
    }
    .progress-wrapper {
        width: 820px;
    }
    .expand {
        min-width: 500px;
        max-width: 750px;
    }
}